<!nothing important!>
<!DOCTYPE html>
<html lang="en">
<head>
    <!meta data!>
    <!nothing important!>
    <meta charset="utf-8" />

    <!Image!>
    <link rel="icon" href="{{ icon }}" />

    <!nothing important!>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />

    <!description!>
    <meta
      name="description"
      content="Website for the encryption and decryption application"
    />

    <!webapp name!>
    <title>Crypto</title>






    <!js function, to update botton of the app!>
    <script>

        function showText() {
        

            const selectElement = document.getElementById("options");
            const outputDiv1 = document.getElementById("outputDiv1");
            const outputDiv2 = document.getElementById("outputDiv2");
            const outputDiv3 = document.getElementById("outputDiv3");
            const pleaseChoose = document.getElementById("pleaseChoose");
            const selectedValue = selectElement.value;

            if (selectedValue === "1") {
                outputDiv1.style.display = "block"; 
                outputDiv2.style.display = "none";
                outputDiv3.style.display = "none";      // Zeige das zugehörige Dropdown Menü und verstecke Falsche

                pleaseChoose.style.display = "none";       //Verstecke den Text

            } else if (selectedValue === "2") {
                outputDiv1.style.display = "none"; 
                outputDiv2.style.display = "block";
                outputDiv3.style.display = "none";      // Zeige das zugehörige Dropdown Menü und verstecke Falsche

                pleaseChoose.style.display = "none"       //Verstecke den Text

            } else if (selectedValue == "3"){
                outputDiv1.style.display = "none"; 
                outputDiv2.style.display = "none";
                outputDiv3.style.display = "block";      // Zeige das zugehörige Dropdown Menü und verstecke Falsche

                pleaseChoose.style.display = "none"       //Verstecke den Text

            }else{
                outputDiv1.style.display = "none"; 
                outputDiv2.style.display = "none";
                outputDiv3.style.display = "none";        // Verstecke die falschen Dropdown Menüs

                pleaseChoose.style.display = "block"        //Zeige den Text
            }
        }
        function encrypter() {
            const selectElement = document.getElementById("encrypt");
        }
</script>






</head>
<body>


<!</überschrifften!>
<h1>Home</h1>
<h2>Hallo!</h2>
Bitte alles erforderliche eingeben und ausfüllen. <br>





<select id="options" onchange="showText()">
    
    <option value="">
        Bitte wählen...
    </option>

    <option value="1">
        encript
    </option>

    <option value="2">
        decrypt
    </option>

    <option value="3">
        crack
    </option>

</select>






<div

    <div id="pleaseChoose" style="display: block;">
        please choose!
    </div>

    <div id="outputDiv1" style="display: none;">
        <input id="encrypt" onchange="encrypter()">

        </input>
    </div>

    <div id="outputDiv2" style="display: none;">

    </div>

    <div id="outputDiv3" style="display: none;">

    </div>

</div>







</body>
</html>