<!nothing important!>
<!DOCTYPE html>
<html lang="en">
<head>
    <div>
    <!meta data!>
    <!nothing important!>
    <meta charset="utf-8" />

    <!Image!>
    <link rel="icon" href="{{ icon }}" />

    <script src="{{ script }}"></script>

    <!nothing important!>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />

    <!description!>
    <meta
      name="description"
      content="Website for the encryption and decryption application"
    />

    <!webapp name!>
    <title>Crypto</title>


    </div>  
</head>
<body>


<div>
<!</überschrifften!>
<h1>Home</h1>
<h2>Hallo!</h2>
Bitte alles erforderliche eingeben und ausfüllen. <br>
</div>


<select id="options" onchange="showText()">
    
    <option value="">
        Bitte wählen...
    </option>

    <option value="1">
        encrypt
    </option>

    <option value="2">
        decrypt
    </option>

    <option value="3">
        crack
    </option>

</select>


<div>

    

    <div id="pleaseChoose" style="display: block;">
       
        please choose!

    </div>

    <div id="outputDiv1" style="display: none;">

        <input id="encrypt" oninput="encrypter()">
        
    </div>

    <div id="outputDiv2" style="display: none;">
        Hallo
    </div>

    <div id="outputDiv3" style="display: none;">
        Hello
    </div>

    <div id="outputDiv4" style="display: none;">
        <!-- Hier wird das Ergebnis angezeigt -->
    </div>

</div>


</body>
</html>